extends layout

block content
    h1.loginDescription Jeżeli chcesz się zalogować musisz podać hasło 
    form( class='loginForm' method='post')
        p
            label Hasło
            input(type='password' name='password')
            input(class='button' type='submit' value='Zaloguj')
        
