extends layout

block content
    form( class='form' method='post')
        p.summaryType podaj hasło aby się zalogować 
        p.summaryType OBSŁUGA HASŁO: obslugaPizza34
        p.summaryType KUCHNIA HASŁO: Cessare@kuchnia
        p.summaryType MANAGER HASŁO: zapytaj (zbyt duża możliwość modyfikacji całej zawartości bazy)
        div.form-row
            label Hasło
            div.passwordRow
                input(type='password' name='password')
                input(class='button' type='submit' value='Zaloguj')
            if(error)
              p.passwordError błędne hasło, spróbuj ponownie
