extends layout

block content
    p podaj hasło aby się zalogować 
    form( class='form' method='post')
        div.form-row
            label Hasło
            div.passwordRow
                input(type='password' name='password')
                input(class='button' type='submit' value='Zaloguj')
            if(error)
              p.passwordError błędne hasło, spróbuj ponownie
