extends layout

block content
  p Witam w aplikacji do zarządzania pizzerią 'CESARE PIZZA'. Aplikacja ta powstała w celach dydaktycznych z wykorzystaniem node.js. Do obsługi po stronie serwera użyłem express.js, skorzystałem z bazy danych Atlas MongoDB, a do wykonania widoków użyłem szablonu HTML, pug. Całość została ostylowana za pomocą CSS3. Aplikacja ta powstała jako pomoc dla małej pizzerii, do obsługi, przyjmowania zamówień, zliczania wartości zamówień (zakładka menu 'OBSŁUGA'); realizacja zamówień (zakładka menu 'KUCHNIA'); oraz do ustalania wyglądu menu, rodzajów, wielkości oraz cen zarówno pizzy jak i napojów, a także przeglądu zamówień i ich podsumowań (zadkładka menu 'MANAGER'). Dodatkowo do każdej z zakładek można się dostać tylko i wyłącznie logując się za pomocą hasła. Zachęcam do zapoznania się z działaniem aplikacji.
  p.sign Maksymilian Dąbrowski 