extends layout

block content
  p.description Cześć, Padre Pizza jest to najlepsza pizzeria w Warszawie, a nawet na świecie. Aplikacja ta powstała w celu pomocy w zarządaniu pizzerią, przyjmowanie zamówień, które znajdują sie w zakładce w menu 'Obsługa', pomocy w zarządzaniu w kuchni, która znajduje się w zakładce menu 'Kuchnia' noraz zakładka w nwmu "Manager', gdzie mamy wgląd, w ilość dokonanych zamówień, szybkość wykonania zamówienia, możemy ustalać produkty w menu oraz ich ceny. Na dodatek apkilacja posiada zewnętrzne API pod adresem /menu, które zwraca akltualne menu i ceny w Padre Pizza
  