extends layout

block content
  p Witam w aplikacji do zarządzania pizzerią 'CESARE PIZZA'. Aplikacja ta powstała w celach dydaktycznych z wykorzystaniem node.js, do obsługi po stronie serwera użyłem express.js, skorzystałem z bazy danych Atlas MongoDB, a do wykonania widoków użyłem szablon HTML, pug. Całość została ostylowana za pomocą CSS3. Aplikacja ta powstała jako pomoc dla małej pizzerii, do obsługi, przyjmowania zamówień, zliczania wartości zamówień (zakładka menu 'OBSŁUGA'), wykonywania zamówień (zakładka manu 'KUCHNIA'), oraz do ustalania wygladu menu, rodzajów, cen, wielkości zarówno pizzy jak i napojów, a także przeglądu zamówień i ich podsumowań (zadkładka menu 'MANAGER'). Dodatkowo dostęp do każdej z zakładek jest dostępny za pomocą hasła. Jeżeli jesteś zainteresowana/y przyjrzeniem się bliżej jej funkcjonowaniu chętnie udostępnię hasła. Zachęcam do zapoznania się.
  p.sign Maksymilian Dąbrowski 