extends ../layout

block append content
  div.newOrderForm
    form(method='post' class='form')
      p Wypełnij formularz zamównienia 
      div#pizzaSelect
        div.oneSelect
          label Wybierz pizzę i rozmiar:
          div.selectForm
            select#firstSelectPizza(name="pizza")
              each val, index in dataPizza 
                option(name='pizza' value=val.name)=val.name
            select#firstSelectPizzaSize(name="pizzaSize") 
              option(value=0) mała
              option(value=1) średnia           
              option(value=2) duża        
      span(id='addPizza' class='button') dodaj kolejną pizzę
      div#drinkSelect
        label Wybierz napój i rozmiar:
        div.selectForm
          select#firstSelectDrink(name="drink")
              option(value="")
              each val, index in dataDrink
                option(value=val.name)=val.name
          select#firstSelectDrinkSize(name="drinkSize") 
            option(value=0) mała
            option(value=1) duża          
      span(id='addDrink' class='button') dodaj kolejny napój 
      div.selectFormParent
        label Podaj liczbę sosób czosnkowych i pomidorowych:
          div.selectForm
            select(name="garlicSauce")
              option(value="0") 0
              option(value="1") 1             
              option(value="2") 2
              option(value="3") 3
              option(value="4") 4
              option(value="5") 5
            select(name="tomatooSauce")
              option(value="0") 0
              option(value="1") 1            
              option(value="2") 2
              option(value="3") 3
              option(value="4") 4  
              option(value="5") 5  
      div           
        label Numer stolika:
          select(name="tableNumber")
            option(value="1") na wynos
            option(value="2") 1         
            option(value="3") 2
            option(value="4") 3 
            option(value="5") 4
            option(value="5") 5
      div           
        label Rodzaj zamówienia:
          select(name="impact")
            option(value="lokal") Lokal
            option(value="na wynos") Na wynos       
      div
        label Liczba osób:
          input(type='number', placeholder='liczba osób' name='customers')    
      div
        label Dodatkowe informacje, uwagi:
          textarea(name='description')
      a(href=`/staff` class='close button') Cofnij
      button(type='submit' class='button formSubmit') Gotowe 
