extends ../layout

block content
  h1= title
  a(href=`/staff/order/`) dodaj zamówienie
  br
  a(href=`/staff/prepared`) W przygotowaniu
  br
  a(href=`/staff/ready/local`) Gotowe (lokal)
  br
  a(href=`/staff/ready/takeaway`) Gotowe (na wynos)
  br
  a(href=`/staff/unpaid/`) Niezapłacone