extends ../layout

block content
  p w tej zakładce możesz stworzyć nowe zamówienie, a także przeglądać i modyfikować poszczególne parametry zamówień, w celu przyspieszneia i ulepszenia procesu od zamówienia do wydania.
  div.secondNav
    +item('DODAJ', `/staff/order/`)
    +item('PRZYGOTOWANIE', `/staff/prepared`)  
    +item('GOTOWE(lokal)', `/staff/ready/local`)
    +item('GOTOWE(wynos)', `/staff/ready/takeaway`)
    +item('NIEZAPŁACONE', `/staff/unpaid/`)
