main{
  font-family: 'Maven Pro', sans-serif;
  color: #393939;
  font-size: 18px;
  width: 90%;
  margin: 0 auto;
  text-align: justify;
}
.sign{
  font-family: 'Maven Pro', sans-serif;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  float: right;
}

/*style dla formularza*/
.form {
  margin:0 auto;
}

.form-row {
  margin-bottom:1rem;
}

.passwordRow{
  display: flex;
}

.form input[type=password],
.form input[type=text],
.form input[type=number],
.form select
{
border: 1px solid #aaa;
border-radius:0.2rem;
padding:0.5rem;
display: flex;
width:30%;
margin-right:10px;
}

.form input:focus{
  border-color:#9DC9F5;
  box-shadow:inset 0 0 0 1px #9DC9F5, inset 0 1px 5px rgba(0,0,0,0.07);
  outline:none;
}

.form label{
  font-weight:bold;
  display: block;
  font-size:0.9rem;
  margin-bottom:0.5rem;
}

.button{
  background: #7c7c7c;
  border:0;
  padding:0.5rem;
  border-radius:0.2rem;
  color:#fff;
  font-size:1.0rem;
  transition: 0.3s;
  cursor: pointer;
  vertical-align: middle; 
  text-align:center;
}
.button:hover{
  background:  #A21310;
}

.passwordError{
  color:  #c6342e;
  font-size: 15px;
}

textarea{
  border-radius:0.2rem;
  display: block;
  width:99%;
  color:#666;
  height: 50px;
}


/*ostylowanie zakładki obsługa*/
.secondNav a{
  text-align: center;
  display: block;
  position: relative;
	float: left;
	padding: 1em 0 1em;
  width: 20%;
	text-decoration: none;
  color: #393939;
  font-size: 18px;
  margin:0 0 auto;
}

.secondNav a:hover{
  color: #c6342e;
  border-bottom: 1px solid #c6342e ;
}

.newOrderForm{
  margin-top:30px;
  margin-bottom:30px;
}

.selectForm{
  display: flex;
}

#drinkSelect{
  margin-top: 30px;
}
#firstSelectPizza,
#firstSelectPizzaSize,
#firstSelectDrink,
#firstSelectDrinkSize
{
  margin-bottom: 15px;
}

.delete{
  position:static;
  top: 0px;
  left:62%;
}

.selectFormParent{
  margin-top: 20px;
}

.formSubmit{
  float:right
}

.summaryOrder{
  border: 1px solid #666;
  border-radius: 0.5rem;
  line-height: 1.8;
  padding: 20px;
  margin-bottom: 50px;
}

.summaryItem{
  display: flex;
}

.summaryType{
  margin-bottom: 15px;
  margin-top: 15px;
}

.summaryDescript{
  Width:33%;
  display: flex;
}

.bold{
  font-weight: bold;
}

.closeCross{
  position:relative;
  bottom: 18px;
  left:96%;
  display: block;
  width: 30px;
  height: 30px;
}

.pay{
  margin-right:30px;
}

.attention{
  margin-top: 100px;
  text-align: center;
  color:  #c6342e;
  font-style: italic;
}

p{
  margin: 0px;
}

.red{
  color: #c6342e;
}

.managerNav a{
  width: 50%;
}

.menuManageDescript{
  padding-top:70px;
}

.thirdNav{
  width: 100%;
}

.thirdNav a{
  text-align: center;
  display: block;
  position: relative;
	float: left;
	padding: 1em 0 1em;
  width: 50%;
	text-decoration: none;
  color: #393939;
  font-size: 18px;
  margin-bottom: 10px;
}

.thirdNav a:hover{
  color: #c6342e;
}

.top{
  margin-top: 10px;
}

.ordeView a{
  width:25%
}

td{
  padding-right: 20px;
}

.error{
  text-align: center;
}

@media (max-width:1024px){
  .secondNav a{
    font-size: 15px;
  }
  .thirdNav a{
    font-size: 15px;
  }
  main{
    font-size: 15px;
  }
  .button{
    font-size:0.7rem;
  }
  .closeCross{
    width: 15px;
    height: 15px;
    left:98%;
  }
}

@media (max-width:768px){
  .secondNav a{
    font-size: 15px;
    width: 100%;
  }
  .thirdNav a{
    font-size: 15px;
    width: 100%;
  }
  main{
    font-size: 15px;
    margin: 0 auto;
    text-align:center;
  }
  .button{
    font-size:0.7rem;
  }
  .closeCross{
    width: 15px;
    height: 15px;
    left:98%;
  }
  .selectForm{
    display: block;
  }
  .form input[type=password],
  .form input[type=text],
  .form input[type=number],
  .form select
  {
    border-radius:0.2rem;
    padding:0.3rem;
    width:100%;
    margin-right:0px;
  }
  select,
  input{
    margin-bottom: 10px;
  }
  .delete{
    position:static;
  }
  .oneSelect{
    margin-bottom: 20px;
  }
  .summaryItem{
    display: block;
  }
  .summaryDescript{
    Width:100%;
    display: block;
  }
  .summaryType span{
    display: block;
  }
  .listElement span{
    display: block;
  }
  .closeCross{
    left:95%;
  }
  .menuManageDescript{
    padding-top:100px;
  }
}