extends ../layout

block content
  p Witaj, w zakładce Managera. Tutaj możesz dokonać zmian w menu, przejrzeć całą historię zamówień oraz wysłać maila do dostawcy z zamówiniem towaru 
  nav
      a(href='/manager/menu_manage')='Zarządzaj menu'
      br
      a(href='/manager/orders_views')='Podsumowanie zamówień'

