extends index

block append content
  div.menuManageDescript Poniżej znajdują sie serwowane przez lokal dania oraz napoje, możesz modyfikować ich nazwy, składniki, rozmiary, ceny. Możesz również usuwać dania oraz dodawać nowe według zawartego formularza. Kliknij przyciski usuń, zmień oraz dodaj, aby sprawdzić jak to działa. 
  nav(class='thirdNav')
    +item('MENU PIZZA', `/manager/menu_manage/pizza`)
    +item('MENU NAPOJE', `/manager/menu_manage/drink`)


