extends ../index

block append content
  div.menuManageDescript Poniżej zanjdują się podsumowania zamówień, w poniższch zakładkach możesz sprawdzić poszczególne zamówienia, zamówienia niezatwierdzone, oraz niezapłacone, możesz je modyfikować lub usuwać. W zakładce posumowania możesz sprawdzić ilość sprzedanych pizzy oraz napojów oraz ich sumaryczą cena za wybrany okres czasu.   
  nav(class='thirdNav ordeView')
    +item('WSZYSTKIE', `/manager/order_views/all`)
    +item('NIEZATWIERDZONE', `/manager/order_views/unconfirmed`)
    +item('NIEZAPŁACONE', `/manager/order_views/unpaid`)
    +item('PODSUMOWANIE', `/manager/order_views/summary`)
